# Configurações do Supabase & Banco de Dados
VITE_SUPABASE_URL=https://sua-url.supabase.co
VITE_SUPABASE_ANON_KEY=seu-anon-key-aqui
DATABASE_URL=postgresql+psycopg2://postgres:sua-senha@aws-0-sa-east-1.pooler.supabase.com:6543/postgres
SECRET_KEY=sua-chave-secreta-flask
