.btn-primary {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #12372A;
    color: #F3FAF4;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}